<div>
<h4>How much would you like to bet for this hand?</h4>
<p>You have $<%= session[:player_money] %></p>
  <form class="form-inline" method="post" action="/session[:player_name]/bet">
    <input type="text" name="player_bet" placeholder="make your bet"> <input type="submit" class="btn" value="Bet">
  </form>
</div>