<h4>Welcome to BlackJack</h4>
<div>
  <p>Choose your name to start</p>
  <form class="form-inline" method="post" action="set_player_name">
    <input type="text" name="player_name" placeholder="type your name"> <input type="submit" class="btn" value="Play">
  </form>
</div>